/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  list-style: none;
  position: absolute;
  left: 48%;
  top: 403px;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  width: 48px;
  font-family: $font-family;
  font-weight: 500;
  font-size: $font-size;
  line-height: $font-size--h1;
  color: #9b9997;
  cursor: pointer;

  @media (max-width: 1365px) {
    top: 290px;
  }
}

.slick-active {
  color: $text-color;
}

.slick__dots a {
  color: #9b9997;
}

.slick-disabled {
  opacity: 0.2;
  pointer-events: none;
}

@media (max-width: 1023px) {
  .slick-dots {
    left: 41%;
    top: 449px;
    width: 120px;
  }
}

@media (max-width: 767px) {
  .slick-dots {
    list-style: none;
    position: absolute;
    left: 28%;
    top: 200px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    width: 50px;
    font-family: $font-family;
    font-weight: 500;
    font-size: $font-size;
    line-height: $font-size + 5;
    color: #9b9997;
  }

  .slick-dots li {
    height: 21px;
    margin-top: -21px;
    display: none;
  }

  .slick-dots .slick-active {
    display: block;
  }

  .slick-active p {
    margin-top: 70px;
    width: 129px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }

  .slick__dots a {
    color: #9b9997;
  }
}
